---
interface Props {
  zh: string;
  en: string;
  tag?: keyof HTMLElementTagNameMap;
  class?: string;
}

const { zh, en, tag = 'span', class: className } = Astro.props;
const Tag = tag;
---

<Tag class={className}>
  <span class="locale-copy-zh">{zh}</span>
  <span class="locale-copy-en">{en}</span>
</Tag>
